<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/student.css') }}">
    <script type="text/javascript">
      window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
          title: {
            text: "Jobs Resolved by each Technican",
          },
          axisY: {
            title: "Jobs Resolved",
          },
          legend: {
            verticalAlign: "bottom",
            horizontalAlign: "center",
          },
          data: [
            {
              type: "pie",
              legendMarkerType: "none",
              indexLabelFontColor: "#5A5757",
              indexLabelFontSize: 16,
              indexLabelPlacement: "outside",
              
              legendText: "Technican Names",
              dataPoints: [
                {% for x in range(names|length) %}
                {x:" {{x+1}}", y: "{{count[x]}}", label: "{{names[x]}}"},
                {% endfor %}
              ],
            },
          ],
        });

        chart.render();
      };
    </script>
    <script
      type="text/javascript"
      src="https://canvasjs.com/assets/script/canvasjs.min.js"
    ></script>
  </head>
  <body>
    <div class="nav">
      <div class="row row1">
        <div class="logo">
          Submit<span class="logo" style="color: white"> Jobs</span>
        </div>
      </div>
    </div>
    <div class="student-portal-container">
      <h2 class="tagline">Welcome to the Technican portal.</h2>
    </div>
    <div
      id="chartContainer"
      style="height: 300px; width: 30%; margin: 10px auto"
    ></div>
  </body>
</html>
