<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/student.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/Nav.css') }}"
    />
    <script type="text/javascript">
      window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer1", {
          title: {
            text: "Jobs Created by each Student",
          },
          axisY: {
            title: "Jobs Created",
          },
          legend: {
            verticalAlign: "bottom",
            horizontalAlign: "center",
          },
          data: [
            {
              type: "pie",
              legendMarkerType: "none",
              indexLabelFontColor: "#5A5757",
              indexLabelFontSize: 16,
              indexLabelPlacement: "outside",
              legendText: "Student Names",
              dataPoints: [
                {% for x in range(student_names|length) %}
                {x:" {{x+1}}", y: "{{student_count[x]}}", label: "{{student_names[x]}}"},
                {% endfor %}
              ],
            },
          ],
        });
        chart.render();


        var chart = new CanvasJS.Chart("chartContainer2", {
          title: {
            text: "Jobs Resolved by each Technican",
          },
          axisY: {
            title: "Jobs Resolved",
          },
          legend: {
            verticalAlign: "bottom",
            horizontalAlign: "center",
          },
          data: [
            {
              type: "pie",
              legendMarkerType: "none",
              indexLabelFontColor: "#5A5757",
              indexLabelFontSize: 16,
              indexLabelPlacement: "outside",
              legendText: "Technican Names",
              dataPoints: [
                {% for x in range(tech_names|length) %}
                {x:" {{x+1}}", y: "{{tech_count[x]}}", label: "{{tech_names[x]}}"},
                {% endfor %}
              ],
            },
          ],
        });
        chart.render();


        var chart = new CanvasJS.Chart("chartContainer3", {
          title: {
            text: "Jobs Created by Student on Weekly Basis",
          },
          axisY: {
            title: "Created Weekly",
          },
          legend: {
            verticalAlign: "bottom",
            horizontalAlign: "center",
          },
          data: [
            {
              type: "pie",
              legendMarkerType: "none",
              indexLabelFontColor: "#5A5757",
              indexLabelFontSize: 16,
              indexLabelPlacement: "outside",
              legendText: "Technican Names",
              dataPoints: [
                {% for x in range(weekly_create_count|length) %}
                {x:" {{x+1}}", y: "{{weekly_create_count[x]}}", label: "Week "+"{{creation_week_num[x]}}"},
                {% endfor %}
              ],
            },
          ],
        });
        chart.render();

        
        var chart = new CanvasJS.Chart("chartContainer4", {
          title: {
            text: "Jobs Resolved by Technician on Weekly Basis",
          },
          axisY: {
            title: "Resolved Weekly",
          },
          legend: {
            verticalAlign: "bottom",
            horizontalAlign: "center",
          },
          data: [
            {
              type: "pie",
              legendMarkerType: "none",
              indexLabelFontColor: "#5A5757",
              indexLabelFontSize: 16,
              indexLabelPlacement: "outside",
              legendText: "Technican Names",
              dataPoints: [
                {% for x in range(weekly_resolve_count|length) %}
                {x:" {{x+1}}", y: "{{weekly_resolve_count[x]}}", label: "Week "+"{{resolve_week_num[x]}}"},
                {% endfor %}
              ],
            },
          ],
        });
        chart.render();
      };
    </script>
    <script
      type="text/javascript"
      src="https://canvasjs.com/assets/script/canvasjs.min.js"
    ></script>
  </head>
  <body>
    <div class="nav">
      <div class="row row1">
        <div class="logo">
          Submit<span class="logo" style="color: white"> Jobs</span>
        </div>
        <div>
          <a class="signup-btn" href="/register">Register Users</a>
        </div>
      </div>
    </div>
    <div class="student-portal-container">
      <div class="logo-position">
        <img class="img" alt="logo" src="../static/assets/logo.jpg" />
        <div>
          <h2>Welcome to the Technician portal</h2>
          <p>Here you can find all the details about the active jobs and can reolve respevtive jobs.</p>
        </div>
        
      </div>
    </div>
    <div
      id="chartContainer1"
      style="height: 300px; width: 70%; margin: 10px auto"
    ></div>
    <div
      id="chartContainer2"
      style="height: 300px; width: 70%; margin: 30px auto"
    ></div>
    <div
      id="chartContainer3"
      style="height: 300px; width: 70%; margin: 30px auto"
    ></div>
    <div
      id="chartContainer4"
      style="height: 300px; width: 70%; margin: 30px auto"
    ></div>
  </body>
</html>
