<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/auth.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/nav.css"
    />

    <title>IT COCKPIT</title>
  </head>
  <body>
    <div class="nav">
      <div class="row row1">
        <div class="logo">
          Submit<span class="logo" style="color: white"> Jobs
      </div>
    </div>
    </div>

    <div class="flex-va-center1">
    <div class="logo-position">
        <image class="img" alt="logo" src="../static/assets/logo.jpg"></image>
    </div>
    </div>
    <div class="flex-va-center">
      <div class="auth-container">
        <form action="/login" method="POST">
          <h2 class="login-form heading">Just login to continue</h2>
          <input
            class="login-form input"
            type="text"
            placeholder="Username or email"
            name="log_email"
          />
          <input
            class="login-form input"
            type="password"
            placeholder="Password"
            name="log_password"
          />

          <input
            class="login-form btn"
            type="submit"
            name="submit"
            value="Login"
          />
        </form>

      </div>
    </div>
  </body>
</html>
