<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/Student.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/Nav.css') }}" >
    <title>Student</title>
  </head>
  <body>
    <div class="nav">
      <div class="row4 row2">
        <div class="logo">
          <a class="back-btn" href="/student"> Back </a>
          <span class="logo" style="padding-top: 1px; margin-left: 30px;">Submit</span><span class="logo" style="color: white;"> Jobs</span>
        </div>
        <div class="signup-btn">
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <div class="student-container">
      <form method="POST">
        <h2 class="heading">Online Job Submission Platform</h2>
        <p class="job-title">Enter the Title of Your Problem</p>
        <input
          class="title"
          type="text"
          name="problem_title"
          placeholder="Enter well defined title"
        ></input>

        <p class="job-title">Enter the description of Your Problem</p>
        <textarea
          class="description"
          type="text"
          name="problem_description"
          placeholder="e.g. This job is about..."
        ></textarea>

        <input
            class="problem-creation"
            type="submit"
            name="submit"
            value="Create"
          />

      </form>
    </div>
  </body>
</html>
