<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/auth.css">
    <title>Document</title>
  </head>
  <body>

    <div class="flex-va-center">
        <div class="auth-container">
            <form action="/register" method = "POST">
            <h2 class="login-form heading">Just Sign Up to continue</h2>
            <input
              class="input"
              type="text"
              placeholder="Email"
              name="reg_email"
            />
            <input
              class="input"
              type="text"
              placeholder="Full Name"
              name="reg_name"

            />
            <input
              class="input"
              type="password"
              placeholder="Password"
              name="reg_pin"

            />
            <select name="reg_type" id="account-type" class="input dropdown" >
            <option value="student">Student</option>
            <option value="technican">Technican</option>
            </select>

            <input
              class="login-form btn"
              type="submit"
              name="submit"
              value="Sign Up"
            />
          </form>
          <div class="other-auth">
            <div class="other-auth text">
              Already have an account?
              <a class="other-auth link" href="/login">Login</a>
              </Link>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
