<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/student.css') }}">

    <title>Student</title>
  </head>
  <body>
    <div class="nav">
      <div class="row row1">
        <div class="logo">
          Submit<span class="logo" style="color: white"> Jobs</span>
        </div>
      </div>
    </div>
    <div class="student-portal-container">
      <div class="tagline">
        Welcome to the student portal. Create new jobs to findout solutions for
        your problems. Technicans will try to get back to you as early as
        possible. So without wasting any time submit your problems and get
        engage in discussion with the best people.<br /><br />
      </div>
      <div class="tagline1">
        To Create a new job click on the following button.<br />
        <a class="create-btn" href="/problem-creation">
          Create New Job
        </a>
      </div>
    </div>

    <div class="job-container">
      <div>Submitted Jobs are below</div>
      {% for row  in data %}
      <div class="job">
        <div class="jobtitle">{{row[0]}}</div>
        {{row[1]}}
      </div>
      {% endfor %}
      
      
    </div>
  </body>
</html>
