<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/student.css') }}">
    <title>Technician</title>
  </head>
  <body>
    <div class="nav">
      <div class="row row1">
        <div class="logo">
          Submit<span class="logo" style="color: white"> Jobs</span>
        </div>
      </div>
    </div>
    <div class="student-portal-container">
      <h2 class="tagline">Welcome to the Technican portal.</h2>
    </div>

    <div class="job-container">
      {% for row  in data%}
       
      <div class="job">
          <div class="jobtitle">{{row[1]}}</div>
          <div>Submitted by: {{row[0]}} </div>
          <div class="status">
            Status: <span class="status-span">{{row[3]}}</span>
          </div>
          {{row[2]}}

        <a href="/resolvejob/{{row[4]}}">Resolve</a>
        </div>
      {% endfor %}
      
    </div>
  </body>
</html>
