<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/Student.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/Nav.css') }}"
    />
    <title>Technician</title>
  </head>
  <body>
    <div class="nav">
      <div class="row row1">
        <div class="logo">
          Submit<span class="logo" style="color: white"> Jobs</span>
        </div>
      </div>
    </div>
    <div class="student-portal-container">
      <div class="logo-position">
        <img class="img" alt="logo" src="../static/assets/logo.jpg" />
        <div>
          <h2>Welcome to the Admin portal</h2>
          <p>Here you can find all the reports related to all the stakeholders and jobs.</p>
        </div>
    </div>

    <div class="job-container">
      {% for row in data%}

      <div class="job">
        <div class="jobtitle">
          {{row[1]}}
          <a class="creation-btn" href="/resolvejob/{{row[4]}}">Resolve</a>
        </div>
        <div>Submitted by: {{row[0]}}</div>
        <div class="status">
          Status: <span class="status-span">{{row[3]}}</span>
        </div>
        {{row[2]}}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
