.login-form {
  text-align: center;
}
.heading {
  font-weight: 500;
  margin-bottom: 25px;
}
.input {
  text-align: left;
  width: 100%;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #555555;
  font-size: 15px;
}
.logo-position {
  margin: 10px auto;
}

.img {
  height: 200px;
  width: 150px;
}

.flex-va-center1 {
  margin-top: 20px;
  display: flex;
}
.dropdown {
  width: 100%;
}

.btn {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ffa500;
  background-color: #ffa500;
  font-size: 15px;
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 20px;
  transition: 0.3s;
}

.flex-va-center {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}

.auth-container {
  max-width: 320px;
  margin: 0px auto;
}

.other-auth {
  text-align: center;
}

.link {
  font-weight: 700;
  margin-left: 10px;
  color: #002333;
}

@media only screen and (max-width: 480px) {
  .auth-container {
    width: 80%;
  }
}
